:root {
	--heading-background-color: orange;
    --heading-font:black, bold;
    --padding: 1rem
    --margin: 2rem auto;
    --border:1px solid rgb(0 0 0 0 / 20%)
    

}

main{
    text-decoration-color: rgb(79, 79, 211) ;
    align-content: center;
    border:1px solid rgb(0 0 0 0 / 20%)

}


.hero img{
    width: 100%;
    height: auto;
    display: block;


}

.hero{
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero article {
    position: absolute;
    bottom: 45%;
    left: 5%;
    background-color: light rgb(168, 212, 79) transparent;
    text-decoration-color: rgb(27, 1, 99);
    font-size: 1.45rem;
}

.hero article img {
    width: 150px;
    float: right;
    margin-right: 10px;
    box-shadow: 0 0 4px black;
    padding: 0;
    bottom: 30%;

}



aside h2{
    text-align: center;
    text-decoration-color: rgb(27, 1, 99);
}

.History{
    display: grid;
    grid-template-columns: 1fr 300px 1fr;

}

.History img{
    grid-column: 2;
    grid-row: 1;
}

.adventure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1/1 2/3;
    grid-row: 1/2;
    gap: 10px;
    justify-items: center;

}


.adventure p{
    text-align: center;

}

.adventure img{
    width: 200px;
    height: auto;
}




article{
    position: absolute;
}





footer{
    margin-top: 10px;
    background-color: orange;
    text-align: center;
    text-decoration: none;
    position: bottom;
}


footer img{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /* moving the footer images to the right */
    float: right;
}


.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 0;
 }

 p {
    padding: 10px;
}

div{
    position: relative;
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    border-bottom: 2px solid green;
    max-width: 1000px;
    padding: 20px;

    
}

header img.logo {
    width: 64px; /* Adjust logo size */
    height: auto;
    margin: 0 0.25rem 0 0.45rem;
  }
  
  header h1 {
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

.navigation{
    display: flex;
    flex-wrap:wrap;
    margin: 0 auto;
    list-style: none;
    justify-content: space-around;

}



.navigation a{
    width: 250px;
    color: orangered;
    padding: 20px;
    font-size: 1rem;
    text-decoration: none;
}

.navigation a:hover{
    color: green;
}

a{
    min-height: 25px;
}

aside {
    padding: 40px 20px;
    text-align: center;
  }
  
  aside img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  




